@font-face {
  font-family: 'ms-font';
  src:  url('fonts/ms-font.eot?w6evve');
  src:  url('fonts/ms-font.eot?w6evve#iefix') format('embedded-opentype'),
    url('fonts/ms-font.ttf?w6evve') format('truetype'),
    url('fonts/ms-font.woff?w6evve') format('woff'),
    url('fonts/ms-font.svg?w6evve#ms-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ls-regular';
  src: url('fonts/ls-regular.ttf?w6evve') format('truetype');
  font-weight: normal;
  font-style: normal;
}
