// ------------------------------------------------------------------------
// FrontPage Component
//
// Description: This component will show an Avatar, motto, contact icons
// and location.
// ------------------------------------------------------------------------

// Variables
// ------------------------------------------------------------------------
$bs: 4px;

// Mixin
// ------------------------------------------------------------------------
@mixin responsive-font() {
	font-size: 1.5*$gutter;

	@include breakpoint($breakpoint-medium) {
		font-size: 3*$gutter;
	}
}

// Block
// ------------------------------------------------------------------------
.fp {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: $gutter;

	// Elements
	// --------------------------------------------------------------------
	&__avatar {
		border-radius: 50%;
		margin: $half-gutter 0;
	}

	&__motto {
		@include responsive-font;
		font-weight: 900;
		margin: $half-gutter 0;
		text-align: center;
	}

	&__contact-buttons {
		display: flex;
		font-size: $double-gutter;
		justify-content: space-around;
		margin: $half-gutter 0;
		width: 50%;
	}

	&__location {
		margin: $half-gutter 0;
	}
}
