// ------------------------------------------------------------------------
// Skill Pod Component
//
// Description: This component styles each skill pod.
// ------------------------------------------------------------------------

// Variables
// ------------------------------------------------------------------------
$skills-icon-pod-font-size: 4*$gutter;
$skils-icon-ball-size: $double-gutter;
$skills-font-size: 1.3em !default;
$skills-padding: 4*$gutter $gutter;

// Mixins
// ------------------------------------------------------------------------
@mixin post-it($rotate, $move, $color) {
	@include breakpoint($breakpoint-medium) {
		background-color: $color;
		box-shadow: $bs $bs $bs 0px rgba($black, .75);
		transform: rotate($rotate) translateX($move);
	}
}

// Block
// ------------------------------------------------------------------------
.skill-pod {
	align-items: center;
	display: flex;
	flex-direction: column;

	@include breakpoint($breakpoint-medium) {
		flex-direction: row;
		justify-content: space-around;
		max-width: 70%;
		padding: $skills-padding;
		will-change: transform;
	}

	// Elements
	// --------------------------------------------------------------------
	&__icon {
		background-color: rgba($black, .6);
		border-radius: 50%;
		color: $white;
		display: block;
		font-size: $skills-icon-pod-font-size;
		line-height: $skils-icon-ball-size;
		height: $skils-icon-ball-size;
		text-align: center;
		width: $skils-icon-ball-size;
		display: block;
	}

	&__list {
		font-size: $skills-font-size;
	}

	&__list-item {
		margin: $half-gutter 0;
	}

	// Modifiers
	// --------------------------------------------------------------------
	&--social {
		@include post-it(-2deg, $double-gutter,$my-yellow);
	}
	&--coding {
		@include post-it(5deg, 6*$gutter, $pastel-blue);
	}
	&--organizational {
		@include post-it(-3deg, 4*$gutter, $my-pink);
	}
}
