// ------------------------------------------------------------------------
// Skills Component
//
// Description: This component will show a Header and several pods for
// the different skills I've qualified to.
// ------------------------------------------------------------------------

// Variables
// ------------------------------------------------------------------------
$skills-title-font-size: 3*$gutter;

// Block
// ------------------------------------------------------------------------
.skills {
	color: $black;
	padding: $gutter 0;

	// Elements
	// --------------------------------------------------------------------
	&__title {
		color: $my-blue;
		font-size: $skills-title-font-size;
		font-weight: 900;
		margin: $half-gutter 0;
		text-align: center;
	}
}
