// Global Variables
// ------------------------------------------------------------------------

// Breakpoints
// ------------------------------------------------------------------------
$breakpoint-medium: 768px !default;

// Box Sizing
// ------------------------------------------------------------------------
$double-gutter: 2em !default;
$gutter: 1em !default;
$half-gutter: 0.5em !default;

// Colors
// ------------------------------------------------------------------------
$white: #ffffff;
$black: #000000;
$my-blue: #012e5d;
$my-yellow: #fefabc;
$my-sky-blue: #00b0d7;
$my-red: #a21a1a;
$my-green: #228b22;
$my-pink: #ff59b5;
$pastel-blue: #009dd4;
$my-gray: #4e4e4e;
