// Global Variables
// ------------------------------------------------------------------------

// Box Sizing
// ------------------------------------------------------------------------
$double-gutter: 2em;
$gutter: 1em;
$half-gutter: 0.5em;

// Colors
// ------------------------------------------------------------------------
$white: #ffffff;
$black: #000000;
$my-fav-blue: #00004c;
